/* Общие стили */
@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);

body {
  background-color: #e5e5e5;
  color: #000;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
